@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

p,
span,
a,
li,
input {
  line-height: 28px;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 400;
  color: black;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  letter-spacing: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: inherit;
  font-weight: 400;
}

:root {
  --color-black: #000;
  --color-white: #fff;
  --color-blue: #00a5fc;
  --color-blue-dark: #495aff;
  --color-yellow: #dcd72e;
  --color-yellow-light: #fff800;
  --color-dark-gray: #222a2e;
  --color-gray: #333a3d;
  --color-gray-light: #ababab;
  --time-trans: 0.2s;
}

h3 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.container {
  max-width: 1260px;
  padding: 0px 10px;
  margin: 0 auto;
}

.button {
  background-image: -webkit-gradient(linear, left top, right top, from(#c15bff), to(#495aff));
  background-image: -webkit-linear-gradient(left, #c15bff 0%, #495aff 100%);
  background-image: -o-linear-gradient(left, #c15bff 0%, #495aff 100%);
  background-image: linear-gradient(to right, #c15bff 0%, #495aff 100%);
  border-radius: 43px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: var(--color-white);
  text-shadow: 2px 1px 3px var(--color-gray);
  padding: 14px 25px;
  max-height: 57px;
  min-width: 217px;
  -webkit-transition: all var(--time-trans) ease;
  -o-transition: all var(--time-trans) ease;
  transition: all var(--time-trans) ease;
}

@media (any-hover: hover) {
  .button:hover {
    -webkit-box-shadow: 4px 6px 6px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 4px 6px 6px 2px rgba(0, 0, 0, 0.2);
  }
}

.button:active {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
  border: 2px var(--color-yellow) solid;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  background-color: var(--color-black);
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px;
  margin: 0px 0px 80px 0px;
  position: relative;
}

.header__top-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 30px 0px 0px;
  height: 65px;
}

.header__top-logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__top-name {
  color: var(--color-white);
  font-size: 24px;
  font-weight: 500;
}

.header__top-desc {
  color: var(--color-white);
  font-size: 15px;
}

.header__top-menu {
  position: absolute;
  overflow: auto;
  left: 0;
  top: 0px;
  padding: 80px 0px 0px 0px;
  margin-left: -100%;
  width: 100%;
  height: 600px;
  background-color: var(--color-black);
  -webkit-transition: margin-left var(--time-trans) ease;
  -o-transition: margin-left var(--time-trans) ease;
  transition: margin-left var(--time-trans) ease;
}

@media (min-width: 740px) {
  .header__top-menu {
    position: relative;
    padding: 0px 0px 0px 0px;
    margin: 0px 15px 0px 0px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 72%;
  }
}

.header__top-menu-show {
  margin-left: 0;
}

.header__top-items {
  width: 100%;
  text-align: center;
}

@media (min-width: 740px) {
  .header__top-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__top-items li {
  list-style: none;
}

.header__top-items li:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

@media (min-width: 740px) {
  .header__top-items li:not(:last-child) {
    margin: 0px 18px 0px 0px;
  }
}

.header__top-items li a {
  -webkit-transition: color var(--time-trans) ease;
  -o-transition: color var(--time-trans) ease;
  transition: color var(--time-trans) ease;
}

@media (any-hover: hover) {
  .header__top-items li a:hover {
    color: var(--color-blue);
  }
}

.header__top-items li a:active {
  color: var(--color-blue);
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.burger {
  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.burger span {
  width: 100%;
  height: 1px;
  background-color: var(--color-white);
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.burger::after, .burger::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  background-color: var(--color-white);
  -webkit-transition: all var(--time-trans) ease;
  -o-transition: all var(--time-trans) ease;
  transition: all var(--time-trans) ease;
}

.burger::after {
  bottom: 0;
}

@media (min-width: 740px) {
  .burger {
    display: none;
  }
}

.burger__active span {
  display: none;
}

.burger__active::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
}

.burger__active::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50%;
}

.header__top-items li a {
  color: var(--color-white);
}

.header__top-phone {
  display: none;
}

@media (min-width: 1100px) {
  .header__top-phone {
    display: block;
  }
}

.header__top-phone a {
  color: var(--color-blue);
  -webkit-transition: color var(--time-trans) ease;
  -o-transition: color var(--time-trans) ease;
  transition: color var(--time-trans) ease;
}

@media (any-hover: hover) {
  .header__top-phone a:hover {
    color: var(--color-white);
  }
}

.header__top-button {
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.9095 3.95888L20.5813 0.634296C20.1751 0.228097 19.6313 0 19.0563 0C18.4813 0 17.9376 0.224972 17.5313 0.634296L13.9469 4.21197C13.5407 4.61817 13.3126 5.16498 13.3126 5.73991C13.3126 6.31796 13.5376 6.85852 13.9469 7.26784L16.7469 10.0706C16.1091 11.5566 15.1926 12.9068 14.0469 14.0482C12.9001 15.2012 11.5594 16.1105 10.0719 16.7542L7.27191 13.9514C6.86565 13.5452 6.3219 13.3171 5.7469 13.3171C5.46328 13.316 5.18231 13.3716 4.92044 13.4805C4.65858 13.5894 4.42109 13.7495 4.22189 13.9514L0.634378 17.5291C0.228126 17.9353 0 18.4821 0 19.057C0 19.635 0.225001 20.1756 0.634378 20.5849L3.95939 23.9095C4.65314 24.6032 5.6094 25 6.59065 25C6.79378 25 6.99066 24.9844 7.19066 24.95C11.3282 24.2688 15.4344 22.066 18.7501 18.7539C22.0626 15.4356 24.2626 11.3298 24.9501 7.18973C25.147 6.01487 24.7532 4.80565 23.9095 3.95888V3.95888ZM22.7345 6.8179C22.1251 10.5018 20.1438 14.1764 17.1594 17.1604C14.1751 20.1444 10.5032 22.1254 6.81878 22.7347C6.35628 22.8128 5.88128 22.6565 5.54377 22.3222L2.27813 19.057L5.74065 15.5918L9.48442 19.3413L9.51254 19.3695L10.1875 19.1195C12.2342 18.3671 14.0928 17.1787 15.6344 15.6367C17.1761 14.0947 18.3639 12.236 19.1157 10.1894L19.3657 9.51444L15.5907 5.74303L19.0532 2.27784L22.3188 5.54306C22.6563 5.88052 22.8126 6.35546 22.7345 6.8179Z' fill='white'/%3E%3C/svg%3E");
  width: 25px;
  height: 25px;
  background-color: transparent;
}

@media (min-width: 1100px) {
  .header__top-button {
    display: none;
  }
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 100px 0px;
}

.header__info {
  margin: 0px 15px 0px 0px;
  text-align: center;
}

@media (min-width: 740px) {
  .header__info {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    text-align: left;
  }
}

@media (any-hover: hover) {
  .header__info button:hover {
    -webkit-box-shadow: 0px 0px 26px 13px rgba(168, 202, 228, 0.23);
            box-shadow: 0px 0px 26px 13px rgba(168, 202, 228, 0.23);
  }
}

.header__title {
  font-family: Montserrat;
  color: var(--color-white);
  font-size: 44px;
  line-height: 55px;
  font-weight: 600;
  margin: 0px 0px 50px 0px;
}

.header__title span {
  color: var(--color-blue);
  font-size: 44px;
  line-height: 55px;
  font-weight: 600;
}

.header__info p {
  color: var(--color-white);
  font-size: 24px;
  line-height: 36px;
  margin: 0px 0px 70px 0px;
}

.header__info p span {
  color: var(--color-blue);
  font-size: 24px;
  line-height: 36px;
}

.header__image {
  display: none;
  position: relative;
  width: 50%;
}

@media (min-width: 740px) {
  .header__image {
    display: block;
  }
}

.header__image-later1 {
  position: absolute;
  background: url(../img/layer1.png) 0 0 no-repeat;
  background-size: contain;
  width: 90px;
  height: 90px;
  left: 44%;
  top: 43%;
  -webkit-transform: translate(-50%, -40%);
      -ms-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
}

.header__image-later2 {
  position: absolute;
  background: url(../img/layer2.png) 0 0 no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
  top: 128px;
  left: 77%;
}

.header__image-later3 {
  position: absolute;
  background: url(../img/layer3.png) 0 0 no-repeat;
  background-size: contain;
  width: 65px;
  height: 65px;
  top: 66px;
  left: 17%;
}

.header__image-later4 {
  position: absolute;
  background: url(../img/layer4.png) 0 0 no-repeat;
  background-size: contain;
  width: 35px;
  height: 35px;
  bottom: 65px;
  left: 30%;
}

.header__image-later5 {
  position: absolute;
  background: url(../img/layer5.png) 0 0 no-repeat;
  background-size: contain;
  width: 35px;
  height: 35px;
  bottom: 39px;
  left: 50%;
}

.header__image-later6 {
  position: absolute;
  background: url(../img/layer6.png) 0 0 no-repeat;
  background-size: contain;
  width: 70px;
  height: 70px;
  top: 23px;
  left: 62%;
}

.header__image-later7 {
  position: absolute;
  background: url(../img/layer7.png) 0 0 no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  bottom: 84px;
  left: 68%;
}

.header__image-later8 {
  position: absolute;
  background: url(../img/layer8.png) 0 0 no-repeat;
  background-size: contain;
  width: 45px;
  height: 45px;
  bottom: 120px;
  left: 14%;
}

.header__image-later9 {
  position: absolute;
  background: url(../img/layer9.png) 0 0 no-repeat;
  background-size: contain;
  width: 85px;
  height: 85px;
  top: 0px;
  left: 37%;
}

.header__social {
  margin: 0px 0px 50px 0px;
}

.header__social-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #222a2e;
  border: 2px solid #333a3d;
  border-radius: 40px;
  padding: 10px 25px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: all var(--time-trans) ease;
  -o-transition: all var(--time-trans) ease;
  transition: all var(--time-trans) ease;
}

.header__social-item {
  list-style: none;
  overflow: hidden;
}

.header__social-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__social-item a span {
  color: var(--color-white);
  width: 0;
  opacity: 0;
  -webkit-transition: all 0.7s ease, opacity 0.2s ease;
  -o-transition: all 0.7s ease, opacity 0.2s ease;
  transition: all 0.7s ease, opacity 0.2s ease;
}

.header__social-item:not(:last-child) {
  margin: 0px 25px 0px 0px;
}

.header__social-icon {
  fill: var(--color-white);
  -webkit-transition: fill var(--time-trans) ease;
  -o-transition: fill var(--time-trans) ease;
  transition: fill var(--time-trans) ease;
}

@media (any-hover: hover) {
  .header__social-item:hover a span {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    opacity: 1;
    margin: 0px 0px 0px 10px;
    color: var(--color-blue);
  }
  .header__social-item:hover .header__social-icon {
    fill: var(--color-blue);
  }
}

.offer {
  background-image: -webkit-gradient(linear, left top, right top, from(#c15bff), to(#495aff));
  background-image: -webkit-linear-gradient(left, #c15bff 0%, #495aff 100%);
  background-image: -o-linear-gradient(left, #c15bff 0%, #495aff 100%);
  background-image: linear-gradient(to right, #c15bff 0%, #495aff 100%);
}

.offer:nth-child(2n) {
  background-color: var(--color-gray);
}

.offer__content {
  padding: 40px 10px;
  min-width: 60%;
  text-align: center;
}

.offer__content button {
  color: var(--color-gray);
  background-color: var(--color-white);
  background-image: none;
  text-shadow: none;
}

.offer p {
  font-size: 18px;
  color: var(--color-white);
  margin: 0px 0px 30px 0px;
}

.offer p span {
  font-size: 18px;
  color: var(--color-white);
  font-weight: 500;
  text-shadow: 1px 2px 4px #5f5f5f;
}

@media (min-width: 640px) {
  .offer__content {
    padding: 80px 10px;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .offer p {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 65%;
            flex: 0 1 65%;
    margin: 0px 20px 0px 0px;
  }
}

.pluses {
  background-color: #333a3d;
  padding: 30px 0px;
}

.pluses__front, .pluses__back {
  background-color: var(--color-white);
  text-align: center;
  padding: 30px 10px 40px;
  max-width: 570px;
  margin: 0 auto;
}

.pluses__front {
  border-radius: 9px 9px 0 0;
}

.pluses__back {
  border-radius: 0 0 9px 9px;
}

.pluses .pluses__content li {
  list-style: none;
  position: relative;
  min-width: 185px;
  min-height: 215px;
  margin: 0px 0px 30px 0px;
}

@media (any-hover: hover) {
  .pluses .pluses__content li:hover .pluses__front {
    -webkit-transform: translate(-50%, -50%) rotateY(180deg);
            transform: translate(-50%, -50%) rotateY(180deg);
    opacity: 0;
  }
  .pluses .pluses__content li:hover .pluses__back {
    -webkit-transform: translate(-50%, -50%) rotateY(0deg);
            transform: translate(-50%, -50%) rotateY(0deg);
    opacity: 1;
  }
}

.pluses .pluses__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0px 20px 0px;
}

.pluses .pluses__image img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.pluses .pluses__content li span {
  display: block;
  font-size: 20px;
  font-weight: 400;
  color: var(--color-black);
}

@media (min-width: 890px) {
  .pluses {
    padding: 100px 0px;
  }
  .pluses__front, .pluses__back {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotateY(0);
            transform: translate(-50%, -50%) rotateY(0);
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 0.15s ease, -webkit-transform 0.5s ease;
    transition: opacity 0.15s ease, -webkit-transform 0.5s ease;
    -o-transition: transform 0.5s ease, opacity 0.15s ease;
    transition: transform 0.5s ease, opacity 0.15s ease;
    transition: transform 0.5s ease, opacity 0.15s ease, -webkit-transform 0.5s ease;
    border-radius: 9px;
    padding: 30px 10px 40px;
    color: var(--color-black);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 225px;
  }
  .pluses__front {
    background-color: var(--color-white);
  }
  .pluses__front span {
    color: var(--color-gray);
  }
  .pluses__back {
    background-color: var(--color-white);
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) rotateY(180deg);
            transform: translate(-50%, -50%) rotateY(180deg);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pluses .pluses__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 950px;
  }
  .pluses .pluses__content li {
    margin: 0px 0px 0px 0px;
  }
}

.quiz {
  background-color: #222a2e;
  padding: 70px 0px;
}

.quiz__items-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quiz__items-input label {
  margin: 0px 0px 10px 0px !important;
}

.quiz__items-input input {
  margin: 0px 0px 30px 0px !important;
}

@media (min-width: 740px) {
  .quiz__items-input {
    display: block;
  }
  .quiz__items-input label {
    margin: 0px 20px 30px 0px !important;
  }
}

.quiz__field {
  margin: 0 auto;
  max-width: 1080px;
  background-color: var(--color-white);
  border-radius: 10px;
  padding: 30px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 400px) {
  .quiz__field {
    padding: 30px 30px;
  }
}

.quiz__field p,
.quiz__field label,
.quiz__field input {
  font-family: Montserrat;
  color: var(--color-black);
  font-size: 20px;
}

.quiz__field label {
  margin: 0px 0px 30px 0px;
  position: relative;
}

@media (min-width: 400px) {
  .quiz__field label {
    padding: 0px 0px 0px 25px;
  }
}

.quiz__field label::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 0;
  top: 50%;
  border-radius: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border: 1px var(--color-dark-gray) solid;
}

.quiz__field label::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  left: 0px;
  top: 50%;
  -webkit-transform: translate(-1px, -50%);
      -ms-transform: translate(-1px, -50%);
          transform: translate(-1px, -50%);
  border-radius: 50%;
  border: 1px var(--color-blue-dark) solid;
  background-color: var(--color-blue-dark);
  -webkit-transition: width var(--time-trans) ease, height var(--time-trans) ease;
  -o-transition: width var(--time-trans) ease, height var(--time-trans) ease;
  transition: width var(--time-trans) ease, height var(--time-trans) ease;
}

._contact label {
  margin: 0px 0px 20px 0px;
}

._contact label::after, ._contact label::before {
  display: none;
}

._contact input:not(:last-child) {
  margin: 0px 0px 40px 0px;
}

@media (min-width: 400px) {
  ._contact input:not(:last-child) {
    margin: 0px 0px 40px 15px;
  }
}

.quiz__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px;
}

.quiz__item input[type="radio"] {
  display: none;
}

.quiz__item input[type="radio"]:checked + label::after {
  width: 14px;
  height: 14px;
}

.quiz__questions {
  font-size: 28px;
  line-height: 34px;
  margin: 0px 0px 30px 0px;
}

.quiz__items {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0px 0px 0px 5px;
}

@media (min-width: 400px) {
  .quiz__items {
    padding: 0px 0px 0px 30px;
  }
}

.quiz__items input {
  border-radius: 10px;
  padding: 5px 15px;
  margin: 0px 0px 10px 0px;
  max-width: 270px;
  border: 1px #ccc solid;
  border-radius: 40px;
}

@media (min-width: 400px) {
  .quiz__items input {
    margin: 0px 0px 10px 15px;
  }
}

.quiz__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 0px 0px 0px;
}

@media (min-width: 400px) {
  .quiz__control {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.quiz__status {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
}

.quiz__status-total {
  font-size: 20px;
  font-weight: 600;
}

.quiz__prev {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  background: none;
  margin: 0px 10px 0px 0px;
}

.quiz__next {
  background-color: var(--color-blue);
  border-color: var(--color-blue);
  color: var(--color-white);
  position: relative;
  padding-right: 65px;
}

.quiz__next::after {
  content: "";
  position: absolute;
  width: 29px;
  height: 28px;
  right: 38px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: url(../img/arrow-right.svg) 0 0 no-repeat;
}

.thanks {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.thanks__image {
  margin: 80px auto 40px;
  width: 174px;
  height: 174px;
  background-image: url("data:image/svg+xml,%3Csvg width='75' height='65' viewBox='0 0 75 65' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 38.3077L23.1489 61L73 2' stroke='black' stroke-width='4'/%3E%3C/svg%3E");
  border-radius: 50%;
  background-color: var(--color-blue-dark);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.thanks__title {
  font-size: 48px;
  font-weight: 700;
  margin: 60px 0px 80px;
}

.thanks__text {
  font-size: 28px;
}

.get {
  background-color: var(--color-black);
  padding: 40px 0px 40px;
}

@media (min-width: 640px) {
  .get {
    padding: 70px 0px 80px;
  }
}

.get__content {
  background-color: var(--color-gray);
  max-width: 900px;
  margin: 0 auto;
  color: var(--color-white);
  padding: 40px 5px;
  border-radius: 20px;
}

@media (min-width: 400px) {
  .get__content {
    padding: 40px;
  }
}

.get__item:not(:last-child) {
  margin: 0px 0px 60px 0px;
}

@media (min-width: 660px) {
  .get__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.get__container-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16%;
          flex: 0 1 16%;
}

.get__container-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.get__description {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80%;
          flex: 0 1 80%;
}

.get__description li {
  color: var(--color-white);
  margin: 0px 0px 20px 30px;
}

.get__description h3 {
  margin: 0px 0px 40px 0px;
  position: relative;
}

.get__description h3::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 3px;
  left: 0;
  bottom: -20px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left top, right top, from(#c15bff), to(#495aff));
  background-image: -webkit-linear-gradient(left, #c15bff 0%, #495aff 100%);
  background-image: -o-linear-gradient(left, #c15bff 0%, #495aff 100%);
  background-image: linear-gradient(to right, #c15bff 0%, #495aff 100%);
}

@media (min-width: 500px) {
  .get__description h3::after {
    width: 30%;
  }
}

.get__description h3 span {
  text-shadow: 1px 2px 4px var(--color-black);
  font-weight: 600;
  font-size: 26px;
  line-height: 29px;
}

.get__description span {
  color: var(--color-white);
  font-weight: 500;
  font-size: 18px;
  text-shadow: 1px 2px 4px var(--color-black);
}

.advantages {
  background-color: #333a3d;
  padding: 70px 0px;
}

.advantages__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.advantages__info button {
  display: block;
  margin: 0 auto;
}

.advantages__title {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: var(--color-white);
  margin: 0px 0px 40px 0px;
}

.advantages__items {
  margin: 0px 0px 50px 0px;
}

@media (min-width: 550px) {
  .advantages__items {
    display: -ms-grid;
    display: grid;
    gap: 50px;
    -ms-grid-columns: (minmax(296px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(296px, 1fr));
  }
}

.advantages__item {
  list-style: none;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px var(--color-white) solid;
  padding: 25px;
  border-radius: 15px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all var(--time-trans) ease;
  -o-transition: all var(--time-trans) ease;
  transition: all var(--time-trans) ease;
}

.advantages__item:not(:last-child) {
  margin: 0px 0px 50px 0px;
}

@media (min-width: 550px) {
  .advantages__item:not(:last-child) {
    margin: 0px 0px 0px 0px;
  }
}

@media (min-width: 1024px) {
  .advantages__item {
    border: 2px var(--color-gray-light) solid;
  }
}

@media (any-hover: hover) {
  .advantages__item:hover {
    border: 2px var(--color-white) solid;
    -webkit-box-shadow: 6px 4px 8px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 6px 4px 8px 5px rgba(0, 0, 0, 0.2);
  }
  .advantages__item:hover h3 {
    color: var(--color-white);
  }
  .advantages__item:hover p {
    color: var(--color-white);
  }
}

.advantages__item h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-white);
  margin: 0px 0px 20px 0px;
  -webkit-transition: color var(--time-trans) ease;
  -o-transition: color var(--time-trans) ease;
  transition: color var(--time-trans) ease;
}

@media (min-width: 1024px) {
  .advantages__item h3 {
    color: var(--color-gray-light);
  }
}

.advantages__item p {
  color: var(--color-white);
  -webkit-transition: color var(--time-trans) ease;
  -o-transition: color var(--time-trans) ease;
  transition: color var(--time-trans) ease;
}

@media (min-width: 1024px) {
  .advantages__item p {
    color: var(--color-gray-light);
  }
}

.stages {
  background-color: #222a2e;
  padding: 40px 0px;
}

@media (min-width: 640px) {
  .stages {
    padding: 70px 0px;
  }
}

.stages__content {
  max-width: 1100px;
  padding: 0px 10px;
  margin: 0 auto;
}

.stages__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  margin: 0px 0px 30px 0px;
  color: var(--color-white);
}

.stages__items {
  list-style-type: none;
  counter-reset: count;
  display: -ms-grid;
  display: grid;
  gap: 50px;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.stages__item {
  position: relative;
  padding: 0px 0px 0px 45px;
}

.stages__item h3,
p {
  color: var(--color-white);
}

.stages__item h3 {
  margin: 0px 0px 15px 0px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.stages__item::before {
  content: counter(count);
  counter-increment: count;
  position: absolute;
  width: 30px;
  height: 30px;
  font-size: 28px;
  font-weight: 600;
  left: 0;
  top: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#905bf9), to(#495aff));
  background-image: -webkit-linear-gradient(left, #905bf9 0%, #495aff 100%);
  background-image: -o-linear-gradient(left, #905bf9 0%, #495aff 100%);
  background-image: linear-gradient(to right, #905bf9 0%, #495aff 100%);
  border-radius: 50%;
  color: var(--color-white);
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}

.answers {
  background-color: #222a2e;
  padding: 40px 0px;
}

@media (min-width: 640px) {
  .answers {
    padding: 60px 0px;
  }
}

.answers__title {
  color: var(--color-white);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  margin: 0px 0px 40px 0px;
}

.answers__item {
  color: var(--color-white);
  margin: 0px 0px 30px 0px;
}

.answer__title {
  color: var(--color-white);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  list-style: none;
  position: relative;
  margin: 0px 0px 10px 30px;
  cursor: pointer;
  -webkit-transition: color var(--time-trans) ease;
  -o-transition: color var(--time-trans) ease;
  transition: color var(--time-trans) ease;
}

@media (any-hover: hover) {
  .answer__title:hover {
    color: var(--color-blue);
  }
}

.answer__title:active {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.answers__item p {
  height: 0;
  margin: 0px 0px 0px 30px;
}

.answer__title::before,
.answer__title::after {
  content: "";
  position: absolute;
  background-color: var(--color-white);
  border-radius: 8px 8px 8px 8px;
  -webkit-transition: -webkit-transform var(--time-trans) ease;
  transition: -webkit-transform var(--time-trans) ease;
  -o-transition: transform var(--time-trans) ease;
  transition: transform var(--time-trans) ease;
  transition: transform var(--time-trans) ease, -webkit-transform var(--time-trans) ease;
}

.answer__title::before {
  left: -20px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  top: 3px;
  width: 4px;
  height: 20px;
}

.answer__title::after {
  left: -30px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  top: 13px;
  width: 20px;
  height: 4px;
}

.answers__item[open] .answer__title::before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.answers__item[open] p {
  height: 100%;
  -webkit-animation-name: textOpen;
          animation-name: textOpen;
  -webkit-animation-duration: var(--time-trans);
          animation-duration: var(--time-trans);
}

@-webkit-keyframes textOpen {
  from {
    opacity: 0.1;
    height: 0px;
  }
  to {
    opacity: 1;
    height: 100%;
  }
}

@keyframes textOpen {
  from {
    opacity: 0.1;
    height: 0px;
  }
  to {
    opacity: 1;
    height: 100%;
  }
}

.footer {
  background-color: var(--color-black);
  padding: 80px 0px;
  text-align: center;
}

.footer a {
  display: block;
  margin: 0px 0px 30px 0px;
  color: var(--color-white);
  -webkit-transition: color var(--time-trans) ease;
  -o-transition: color var(--time-trans) ease;
  transition: color var(--time-trans) ease;
}

@media (any-hover: hover) {
  .footer a:hover {
    color: var(--color-blue);
  }
}

.footer a:active {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.bottom-form {
  padding: 30px 0px;
  background-color: var(--color-gray);
}

.bottom-form__content {
  margin: 0 auto;
  max-width: 800px;
  background-image: -webkit-gradient(linear, left top, right top, from(#c15bff), to(#495aff));
  background-image: -webkit-linear-gradient(left, #c15bff 0%, #495aff 100%);
  background-image: -o-linear-gradient(left, #c15bff 0%, #495aff 100%);
  background-image: linear-gradient(to right, #c15bff 0%, #495aff 100%);
  padding: 40px 10px;
  border-radius: 20px;
}

.bottom-form fieldset {
  text-align: center;
  margin: 0px 0px 60px 0px;
}

.bottom-form h4 {
  margin: 0px 0px 20px 0px;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: var(--color-white);
  font-family: Montserrat;
}

.bottom-form p {
  margin: 0px 0px 30px 0px;
  text-align: center;
}

.bottom-form input {
  padding: 10px 20px;
  border-radius: 40px;
  font-family: Montserrat;
}

.bottom-form input:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.bottom-form button {
  display: block;
  margin: 0px auto;
  -webkit-box-shadow: 1px 2px 14px 4px rgba(168, 202, 228, 0.23);
          box-shadow: 1px 2px 14px 4px rgba(168, 202, 228, 0.23);
}

@media (min-width: 560px) {
  .bottom-form {
    padding: 70px 0px;
  }
  .bottom-form fieldset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bottom-form input {
    padding: 10px 20px;
    border-radius: 40px;
  }
  .bottom-form input:not(:last-child) {
    margin: 0px 30px 0px 0px;
  }
}

.block-hidden {
  display: none;
}

.block-show {
  display: block;
}

.block-show-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.over-hidden {
  overflow: hidden;
}

.appearance {
  -webkit-animation: appearance 0.3s;
          animation: appearance 0.3s;
}

@-webkit-keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.popup {
  display: none;
  z-index: 20;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Montserrat;
}

.popup__content {
  position: relative;
  text-align: center;
  border-radius: 20px;
  padding: 50px 30px 30px 30px;
  max-width: 800px;
  background-image: -webkit-gradient(linear, left top, right top, from(#c15bff), to(#495aff));
  background-image: -webkit-linear-gradient(left, #c15bff 0%, #495aff 100%);
  background-image: -o-linear-gradient(left, #c15bff 0%, #495aff 100%);
  background-image: linear-gradient(to right, #c15bff 0%, #495aff 100%);
}

.popup__content h2 {
  margin: 0px 0px 30px 0px;
  color: var(--color-white);
}

.popup__content fieldset {
  margin: 0px 0px 40px 0px;
}

.popup__content input {
  padding: 10px 20px;
  border-radius: 40px;
}

.popup__content input:not(:last-child) {
  margin: 0px 20px 0px 0px;
}

.popup__content .button {
  background-image: -webkit-gradient(linear, left top, right top, from(#9b2cff), to(#495aff));
  background-image: -webkit-linear-gradient(left, #9b2cff 0%, #495aff 100%);
  background-image: -o-linear-gradient(left, #9b2cff 0%, #495aff 100%);
  background-image: linear-gradient(to right, #9b2cff 0%, #495aff 100%);
  -webkit-box-shadow: 1px 2px 14px 4px rgba(168, 202, 228, 0.23);
          box-shadow: 1px 2px 14px 4px rgba(168, 202, 228, 0.23);
}

.popup__closed {
  border: 2px var(--color-white) solid;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50%;
  padding: 0px 7px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.popup__closed span {
  color: var(--color-white);
  font-size: 24px;
  font-weight: 600;
}
